---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Isnaldo Ferreira</h1>
			<p class="hero__text">
				Eleve seu negócio digital a outro nível com um design de qualidade!
			</p>
			<Boton target="_blank" href="https://api.whatsapp.com/send/?phone=5534998345187&text=Preciso+de+um+orçamento+%21&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer" texto="Quero saber mais"/>
		</div>
    <img
		class="hero__img"
		src="/img/profile.png"
		alt="Isnaldo Ferreira"
		width="384"
    	height="384"
	/>
	</div>
</section>
