---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
Domino o desenvolvimento front-end com expertise em HTML, CSS e JavaScript. Tenho experiência sólida na criação de interfaces modernas utilizando React e Astro, focando em performance e responsividade. Estou expandindo meu conhecimento para o ecossistema full-stack através de Node.js, Java e Angular.
		</p>
	</div>
</section>
